<div class="row">
  <div class="col-md-7 login_bg">

  </div>
  <div class="col-md-5">
      <div class="py-5">
        <div class="text-center">
          <h3>NotYouTube</h3>
          <h4>Login to NotYouTube</h4>
        </div>
        <div class="social-login px-3 pt-2">
            <div class="row twitter bg-primary text-white py-2">
              <div class="col-6">
                with <b>twitter</b>
              </div>
              <div class="col-6 text-right">
                <i class="fa fa-twitter fa-2x"></i>
              </div>
            </div>
            <div class="row twitter bg-danger text-white py-2 mt-2">
              <div class="col-6">
                with <b>google</b>
              </div>
              <div class="col-6 text-right">
                <i class="fa fa-twitter fa-2x"></i>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>